<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="meshlabs.pushq"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ConfigActivity"
            android:label="@string/title_activity_config" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemEditor"
            android:label="@string/title_activity_item_editor"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="meshlabs.pushq.ConfigActivity" />
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
            </intent-filter>
        </activity>
        <service 
            android:name=".MonitorService"
            android:label="PushQ monitor service"
            android:exported="false" />
            
    </application>

</manifest>